<div id="page-wrapper" ng-controller="PjCtrl">
  <div class="row">
    <div class="col-lg-14">
        <div class="jumbotron">
          <h1 class="text-center">
            Cadastro de Empresas
          </h1>
        </div>
    </div>
  </div>


  <p ng-show="mensagem.texto">
    {{mensagem.texto}}
  </p>

  <p ng-show="empresas.length">
    Fornecedores cadastrados: {{empresas.length}}
  </p>


  <button ng-click="botao1()" ng-hide="mostrarBtn">Botao 1</button>
  <br /><br />
  <button ng-click="mostrarBtn = true" ng-show="!mostrarBtn">Esconder botão 1</button>
  <button ng-click="mostrarBtn = false" ng-show="mostrarBtn">Mostrar botão 1</button>

  <br>

  <br>
  <div class="modal fade" id="modal-id">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-miss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Registro de Personas</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <form action="">

              <label>Nombre:</label>
              <input type="text" class="form-control" ng-model="nombre"/>

              <label>Apellido:</label>
              <input type="text" class="form-control" ng-model="apellido"/>

              <label>Domicilio:</label>
              <input type="text" class="form-control" ng-model="domicilio"/>

              <label>Teléfono:</label>
              <input type="text" class="form-control" ng-model="telefono"/>

              <label>Email:</label>
              <input type="text" class="form-control" ng-model="email"/>
              <br>
              <input type="submit" value="Guardar" class="btn btn-success" ng-click="guardarCliente()"/>
              <input type="button" value="Limpiar" class="btn btn-danger" ng-click="limpiarDatos()"/>

            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>



  <p class="text-info" ng-hide="empresas.length">
    Não há fornecedores cadastrados
  </p>


  <input type="search" placeholder="parte do nome" ng-model="businessfilter">

  <div class="table-responsive" >
    <table class="table table-hover">
      <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Fantásia</th>
        <th>E-mail</th>
        <th>Telefore</th>
        <th class="text-center">Ação</th>
      </tr>
      <tr ng-repeat="empresa in empresas">
        <td>
          <a ng-href="#/fornecedor/{{empresa._id}}">{{empresa.name}}</a>
        </td>
        <td>{{empresa.cnpj}}</td>
        <td>{{empresa.fantasy}}</td>
        <td>{{empresa.email}}</td>
        <td>{{empresa.phone}}</td>

        <td class="text-center">
          <button
            ng-click="count = count + 1" ng-init="count=0"
            class="btn btn-warning">
            <span>
  count: {{count}}
</span>
            Remover
          </button>

        </td>
      </tr>
    </table>

  </div>



</div>
